.signup {
    padding-top: 5%;
}
.signupform {
    margin-top: 400%;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 20px;
    margin: 10px auto 30px;
    width: 38%;
    padding: 50px 70px 70px 71px; 
    border: 1px solid #d4d4d4;  
}
.signupform .btn {
    display: block;
    margin: 0 auto;
}
.signupform .form-group {
    padding-top: 5%;
}
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}


@media (max-width: 768px) {
    .signupform {
        min-width: 80%;
    }
}

@media (min-width: 768px) {
    .comments-container-single {
        padding-left: 15%
     }
}

